<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/images/logo.jpg" alt="logo emergia" style="border-radius: 100px;">
        <span>{{ enviroment.nameSite }}</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- <button class="p-link layout-topbar-button" (click)="op.toggle($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <p-overlayPanel #op>
            <ng-template pTemplate>
               Usuario Name
            </ng-template>
        </p-overlayPanel> -->

        <button class="p-link layout-topbar-button" (click)="logout()" title="Cerrar Sesión">
            <i class="pi pi-sign-out"></i>
            <span>Profile</span>
        </button>
    </div>
</div>